version: '3.8'
services:
  notifications-service:
    image: passimx/notifications-service
    container_name: passimx-notifications-service
    restart: always
    env_file: .env
    networks:
      - main
    depends_on:
      - kafka
    ports:
      - ${APP_PORT_NOTIFICATION}:${APP_PORT_NOTIFICATION}
      - ${SOCKET_PORT_NOTIFICATION}:${SOCKET_PORT_NOTIFICATION}

  chats-service:
    image: passimx/chats-service
    container_name: passimx-chats-service
    depends_on:
      - postgres
      - kafka
    restart: always
    env_file: .env
    networks:
      - main
    ports:
      - ${APP_PORT}:${APP_PORT}

  postgres:
    image: postgres:17-alpine
    container_name: passimx-postgres
    restart: always
    env_file: .env
    environment:
      POSTGRES_DB: ${PG_DATABASE}
      POSTGRES_USER: ${PG_USERNAME}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    command: -p ${PG_PORT}
    expose:
      - ${PG_PORT}
    networks:
      - main
    ports:
      - ${PG_PORT}:${PG_PORT}

  kafka:
    image: 'bitnami/kafka:latest'
    container_name: passimx-kafka
    restart: always
    networks:
      - main
    env_file: .env
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_LISTENERS=CLIENT://:${KAFKA_CLIENT_PORT},INTERNAL://:${KAFKA_INTERNAL_PORT},EXTERNAL://:${KAFKA_EXTERNAL_PORT},
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,CLIENT:SASL_PLAINTEXT,EXTERNAL:SASL_PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://kafka:${KAFKA_CLIENT_PORT},EXTERNAL://kafka:${KAFKA_EXTERNAL_PORT}
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=CLIENT
      - KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL=PLAIN
      - KAFKA_CFG_SASL_ENABLED_MECHANISMS=PLAIN
      - KAFKA_CLIENT_USERS=${KAFKA_CLIENT_USERS}
      - KAFKA_CLIENT_PASSWORDS=${KAFKA_USER_PASSWORD}
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=INTERNAL
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@127.0.0.1:9093
      - ALLOW_PLAINTEXT_LISTENER=yes
    ports:
      - ${KAFKA_CLIENT_PORT}:${KAFKA_CLIENT_PORT}
      - ${KAFKA_EXTERNAL_PORT}:${KAFKA_EXTERNAL_PORT}
    command:
      - bash
      - -c
      - |
        (
          IFS="," read -ra TOPICS <<< "$$PRE_CREATE_TOPICS";
          for T in "$${TOPICS[@]}"; do
            /opt/bitnami/kafka/bin/kafka-topics.sh \
              --bootstrap-server kafka:9094 \
              --create --topic "$$T" --if-not-exists &&
            echo "Created $$T" ||
            echo "Failed to create $$T";
          done;
        ) & /opt/bitnami/scripts/kafka/run.sh

  kafka-ui:
    container_name: passimx-kafka-ui
    image: provectuslabs/kafka-ui:latest
    restart: always
    depends_on:
      - kafka
    networks:
      - main
    env_file: .env
    environment:
      - KAFKA_CLUSTERS_0_NAME=${KAFKA_UI_HOST}
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=${KAFKA_HOST}:${KAFKA_CLIENT_PORT}
      - KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL=SASL_PLAINTEXT
      - KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM=PLAIN
      - >
        KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule
          required
          username="${KAFKA_CLIENT_USERS}"
          password="${KAFKA_USER_PASSWORD}";
    ports:
      - ${KAFKA_UI_PORT}:${KAFKA_UI_PORT}

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis

volumes:
  redis-data:



networks:
  main:
    driver: bridge
    name: main