version: '3.8'
services:
  redis:
    image: redis:latest
    container_name: passimx-redis
    command: redis-server --appendonly yes --port ${REDIS_PORT}
    expose:
      - ${REDIS_PORT}
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    networks:
      - main
    volumes:
      - ./data/data_redis:/data

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    environment:
      - REDIS_HOSTS=local:redis:${REDIS_PORT}
      - HTTP_USER=${REDIS_COMMANDER_USER}
      - HTTP_PASSWORD=${REDIS_COMMANDER_PASSWORD}
    ports:
      - ${REDIS_COMMANDER_PORT}:${REDIS_COMMANDER_PORT}
    networks:
      - main
    depends_on:
      - redis

networks:
  main:
    driver: bridge
    name: main