name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: Passimx/ci-cd-workflows/.github/workflows/build.yml@main
    with:
      ORGANIZATION_NAME: ${{ vars.ORGANIZATION_NAME }}
      IMAGE_NAME: ${{ vars.IMAGE_NAME }}
    secrets:
      DOCKER_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}

  release:
    needs: build
    uses: Passimx/ci-cd-workflows/.github/workflows/release.yml@main
    with:
      ORGANIZATION_NAME: ${{ vars.ORGANIZATION_NAME }}
      IMAGE_NAME: ${{ vars.IMAGE_NAME }}
    secrets:
      DOCKER_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}

  deploy:
    needs: release
    uses: Passimx/ci-cd-workflows/.github/workflows/deploy.yml@main
    secrets:
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_HOST: ${{ secrets.SSH_HOST }}
      DEPLOY_SCRIPT: "/home/tit/pasim/notifications-service-deploy.sh"
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}